*{
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#app {
  background-color: black;
  width: 400px;
  height: 600px;
  border-radius: 30px;
}

.row {
  display: flex;
  height: 100px;
}

input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  background-color: rgb(40, 39, 39);
  color: rgb(202, 208, 208);
  font-size: 1.7em;
  padding: 0 10px;
}
button {
  flex: 1;
  border: none;
  outline: none;
  background-color: rgb(40, 39, 39);
  color: rgb(202, 208, 208);
  font-size: 1.2em;
}
button:hover {    
  background-color: rgb(40, 39, 39);
  cursor: pointer;
}

.special {
    flex: 2;
}


